<!DOCTYPE html>
<html>
  <head>
    <title>Kasvin poistaminen</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>

  <body>
    <header class="hero hero--small">
      <img class="hero__img" src="/static/images/hero.png" alt="Kasvisto" />
      <div class="hero__overlay"></div>
    </header>

    <main class="container">
      <div class="page-header">
        <h1>Kasvin poistaminen ❌</h1>
        <div class="page-header_actions">
          <a class="btn btn--secondary" href="/">Takaisin etusivulle</a>
        </div>
      </div>

      <p>
        <label for="confirm_delete">Haluatko varmasti poistaa kasvin:</label>
        <strong>{{ plant.plant_name }}</strong>?
      </p>
      <form action="/delete_plant/{{ plant.id }}" method="post">
        <p>
          <input
            type="submit"
            name="delete"
            class="btn btn--danger"
            value="Kyllä, poista kasvi"
          />
          <input
            class="btn btn--secondary"
            type="button"
            name="cancel"
            value="Peruuta"
            onclick="window.location.href='/'"
          />
        </p>
      </form>
    </main>
  </body>
</html>
