<!DOCTYPE html>
<html>
  <head>
    <title>{{ plant.plant_name }} kuvat</title>
  </head>

  <body>
    <h1>{{ plant.plant_name }} kuvat</h1>
    <ul>
      {% for image in images %}
        <li><img src="/static/images/{{ image.id }}.png" alt="{{ plant.plant_name }} kuva"></li>
      {% endfor %}
    </ul>

    <h2>Lisää kuva</h2>
    <form action="/add_image/{{ plant.id }}" method="POST" enctype="multipart/form-data">
        <p>
            Kuva: <input type="file" name="image" accept=".png">
        </p>
        <input type="hidden" name="plant_id" value="{{ plant.id }}">
        <button type="submit">Lähetä</button>
    </form>
    <p><a href="/plant/{{ plant.id }}">Takaisin</a></p>
  </body>
</html>
