<!DOCTYPE html>
<html>
  <head>
    <title>Kasvisto</title>
    <link rel="stylesheet" href="/static/images/styles.css" />
  </head>

  <body>
    <header class="hero">
      <img class="hero__img" src="/static/images/hero.png" alt="Kasvisto" />
      <div class="hero__overlay"></div>
    </header>

    <main class="container">

      <div class="page-header">
        {% if session.username %}
        <h1>Tervetuloa, {{ session.username }}!</h1>
          {% else %}
        <h1>Tervetuloa Kasvistoon!</h1>
        {% endif %}

        <div class="page-header_actions">
          {% if session.username %}
            <a class="btn btn--secondary" href="/logout">Kirjaudu ulos</a>
            {% else %}
            <a class="btn btn--secondary" href="/login">Kirjaudu</a>
            <a class="btn btn--secondary" href="/register">Rekisteröidy</a>
          {% endif %}
        </div>
      </div>

      <section class="grid">
        <article class="card">
          <h3>Etsi kasveja</h3>
          <p>
            Käytä hakutoimintoa löytääksesi etsimäsi kasvit ja niiden
            hoitotiedot.
          </p>
          <p><a class="btn" href="/find_plant">Etsi kasvi</a></p>
        </article>

        {% if session.username %}

        <article class="card">
          <h3>Käyttäjäsivu</h3>
          <p>Hallinnoi omia kasvejasi, hoitotietoja ja kommentteja.</p>
          <p>
            <a class="btn" href="/user/{{ session.user_id }}"
              >Avaa käyttäjäsivu</a
            >
          </p>
        </article>

        <article class="card">
          <h3>Lisää uusi kasvi</h3>
          <p>Lisää uusi kasvi sekä sen hoitotiedot kasvistoon.</p>
          <p><a class="btn" href="/new_plant">Lisää uusi kasvi</a></p>
        </article>
      </section>
      
      {% endif %}

      <h2>Kasvit</h2>
      <ul>
        {% for plant in plants %}
        <li>
          <a href="/plant/{{ plant.id }}"
            ><strong>{{ plant.plant_name }}</strong></a
          >
          <p>
            Käyttäjältä:
            <a href="/user/{{ plant.user_id }}">{{ plant.username }}</a>
          </p>
        </li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
