<!DOCTYPE html>
<html>
  <head>
    <title>Kasvisto</title>
  </head>

  <body>
    <h1>Kasvisto🪴</h1>

    {% if session.username %}
    <p>Olet kirjautunut nimellä {{ session.username }}</p>
    <p>
      <input type="button" value="Kirjaudu ulos" onclick="window.location.href='/logout'" />
    </p>
    <p>
      <input type="button" value="Lisää uusi kasvi" onclick="window.location.href='/new_plant'" />
    </p>
    {% else %}
    <p>
      <input type="button" value="Rekisteröidy" onclick="window.location.href='/register'" />
      <input type="button" value="Kirjaudu" onclick="window.location.href='/login'" />
    </p>
    {% endif %}

    <input type="button" value="Etsi kasvi" onclick="window.location.href='/find_plant'" />
    
    <h2>Kasvit</h2>
    <ul>
      {%for plant in plants %}
      <li>
        <a href="/plant/{{ plant.id }}">{{ plant.plant_name }}</a>
      </li>
      {% endfor %}
    </ul>
  </body>
</html>
