<!DOCTYPE html>
<html>
  <head>
    <title>{{ plant.plant_name }}</title>
  </head>

  <body>
    <h1>{{ plant.plant_name }} 🪴</h1>
    {% if session.user_id == plant.user_id %}
    <p>
      <a href="/edit_plant/{{ plant.id }}">Muokkaa</a>
      <a href="/delete_plant/{{ plant.id }}">Poista</a>
      <a href="/images/{{ plant.id }}">Kuvat</a>
    </p>
    {% endif %}
    <p><strong>Valontarve:</strong> {{ plant.light }}</p>
    <p><strong>Hoitotiedot:</strong></p>
    <p>{{ plant.care_info }}</p>
    {% if categories %}
    <p><strong>Luokat:</strong>
      <ul>
        {% for category in categories %}
        <li>{{ category }}</li>
        {% endfor %}
      </ul>
    {% endif %}
    <p>
      <strong>Lisätty käyttäjältä:</strong>
      <a href="/user/{{ plant.user_id }}">{{ plant.username }}</a>
    </p>
    {% if images %}
    <h2>Kuvat:</h2>
      {% for image in images %}
      <li><img src="/image/{{ image.id }}.png" alt="{{ plant.plant_name }} kuva"></li>
      {% endfor %}
    {% endif %}
    <h2>Kommentit:</h2>
    <ul>
      {% for comment in comments %}
      <li>{{ comment.content }} - <a href="/user/{{ comment.user_id }}">{{ comment.username }}</a></li>
      {% endfor %}
    </ul>
    {% if session.user_id %}
    <form action="/create_comment/{{ plant.id }}" method="POST">
      <textarea name="comment" style="width: 600px; height: 100px;" placeholder="Lisää kommentti..."></textarea>
      <p>
        <input type="hidden" name="plant_id" value="{{ plant.id }}"> 
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <button type="submit">Lisää</button>
      </p>
    </form>
    {% endif %}
    <p><a href="/">Takaisin</a></p>
  </body>
</html>
