<!DOCTYPE html>
<html>
  <head>
    <title>{{ plant.plant_name }}</title>
  </head>

  <body>
    <h1>{{ plant.plant_name }} 🪴</h1>
    {% if session.user_id == plant.user_id %}
    <p>
      <a href="/edit_plant/{{ plant.id }}">Muokkaa</a>
      <a href="/delete_plant/{{ plant.id }}">Poista</a>
    </p>
    {% endif %}
    <p><strong>Valontarve:</strong> {{ plant.light }}</p>
    <p><strong>Hoitotiedot:</strong></p>
    <p>{{ plant.care_info }}</p>
    <p><strong>Lisätty käyttäjältä:</strong> {{ plant.username }}</p>
    <p><a href="/">Takaisin</a></p>
  </body>
</html>
